In [9]:
x=lambda a,b:a*b
print("Product is",x(5,3))

Product is 15

In [38]:
def fun(n):
    return lambda a:a%n
operator=fun(5)
print(operator(6))

1

In [36]:
x= lambda x:x+5 if x<5 else(x-5)
print(x(2))
print(x(5))

7
0

In [30]:
listofNum=[1,2,5,8,11,14,17,20,26,35]
listofFilNum = list(filter(lambda x:x<5 or x>25,listofNum))
print('Filtered List : ', listofFilNum)

Filtered List :  [1, 2, 26, 35]

In [41]:
from sklearn import datasets
import pandas as pd
import seaborn as sns
import numpy as np
sns.set()
iris = datasets.load_iris()

In [42]:
print(iris.feature_names)
print(iris.target_names)

['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']
['setosa' 'versicolor' 'virginica']

In [43]:
data = pd.DataFrame(data= np.c_[iris['data'], iris['target']],columns= iris['feature_names'] + ['target'])

In [45]:
data.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000